<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ally Laboratorios</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="icon" href="ally-assets/favicon.png">
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/build/styles.css">
</head>
<body>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">¿SABÍAS QUE?</h4>
        </div>
        <div class="modal-body">
          <img src="" alt="" class="img-responsive"/>
        </div>
      </div>
    </div>
  </div>

	<div id="tmain">
		<div id="theader">
          <div class="header-section">

          	<nav class="navbar navbar-default">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <img src="ally-assets/logo.png" class="logo visible-xs" alt="">
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav text-uppercase ally-menu">
                    <li class="active"><a href="#Inicio" role="tab" data-toggle="tab">Inicio</a></li>
                    <li><a href="#Nosotros" role="tab" data-toggle="tab">Nosotros</a></li>
                    <li><a href="#Estudios" role="tab" data-toggle="tab">Estudios</a></li>
                    <li><a href="#Promociones" role="tab" data-toggle="tab">Promociones</a></li>
                    <li><a href="#Resultados" role="tab" data-toggle="tab">Resultados</a></li>
                    <li><a href="#Tecnologia" role="tab" data-toggle="tab">Tecnología</a></li>
                    <li><a href="#Contacto" role="tab" data-toggle="tab">Contacto</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->


            </nav>

          </div>
		</div>

		
		<div id="tbody" class="tab-content">
      <div class="body-content container padding16v">
        <a href="index.html"><img src="ally-assets/logo.png" class="hidden-xs pull-left" alt=""></a>
        <div class="titulo-seccion">
          <h3 class="bebas">ALLY Laboratorios S.A. de C.V.</h3>
          <h4>Laboratorios de Análisis Clínicos.</h4>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane fade in active" id="Inicio">
          <div class="body-section">
          	<div class="body-content hidden-xs">
      				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="ally-assets/slider01.jpg" alt="...">
                    <div class="carousel-caption">
                      
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider02.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider03.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider04.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          	</div>

            <div class="body-content visible-xs">
              <div id="carousel-example-generic_mob" class="carousel slide" data-ride="carousel_mob">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic_mob" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic_mob" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic_mob" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic_mob" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="ally-assets/slider_mob01.jpg" alt="...">
                    <div class="carousel-caption">
                      
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider_mob02.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider_mob03.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider_mob01.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic_mob" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic_mob" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

          </div>
          <div class="body-section">
            <div class="body-content container padding16v">
              <div class="col-sm-8">
                <div class="col-sm-6 padding16v">
                  <img src="ally-assets/h_estudios.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-6 padding16v">
                  <img src="ally-assets/h_checkup.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-6 padding16v">
                  <img src="ally-assets/h_empresas.png" alt="" class="img-responsive center-block">
                </div>
                <div class="col-sm-6 padding16v">
                  <img src="ally-assets/h_resultados.png" alt="" class="img-responsive center-block">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="col-xs-12 padding16v">
                  <a href="#" data-toggle="modal" data-target="#myModal" id="sab01">
                    <img src="ally-assets/sabias_01.png" alt="" class="img-responsive center-block">
                  </a>
                </div>
                <div class="col-xs-12 padding16v">
                  <a href="#" data-toggle="modal" data-target="#myModal" id="sab02">
                    <img src="ally-assets/sabias_02.png" alt="" class="img-responsive center-block">
                  </a>
                </div> 
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="Nosotros">
          <div class="body-section">
            <div class="body-content container">
              <div id="bs-example-navbar-collapse-2" class="col-xs-12">
                <ul class="text-uppercase us-menu gray-back">
                  <li class="active"><a href="#mision" role="tab" data-toggle="tab">Mision y visión</a></li>
                  <li><a href="#socios" role="tab" data-toggle="tab">Nuestros socios</a></li>
                  <li><a href="#rasgos" role="tab" data-toggle="tab">Rasgos de ally</a></li>
                  <li><a href="#calidad" role="tab" data-toggle="tab">Control de calidad</a></li>
                  <li><a href="#beneficios" role="tab" data-toggle="tab">Beneficios</a></li>
                  <li><a href="#empresas" role="tab" data-toggle="tab">Empresas</a></li>
                </ul>
              </div>
              <div class="tab-content col-xs-12 gray-back padding16">
                <div role="tabpanel" class="tab-pane fade in active" id="mision">
                  <div class="col-sm-8">
                    <h2 class="text-uppercase bold blue1 bebas">misión</h2>
                    <p>En laboratorios Ally nuestra misión es contribuir para mejorar la calidad de vida de las personas a través de diagnósticos acertados, satisfaciendo las demandas médicas actuales a través de una alianza entre profesionalismo de nuestros recursos médicos, tecnológicos y humanos logrando eficiencia que culmine en un excelente servicio a un precio accesible.</p>
                    <h2 class="text-uppercase bold blue1 bebas">visión</h2>
                    <p>Ser lideres en análisis clinicos para llegar a constituirnos como un laboratorio de confianza y preferencia reconocido por sobresalir en servicio, calidad y el compromiso en la continua búsqueda de la excelencia.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="ally-assets/circle_thumb01.png" alt="" class="img-responsive">
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="socios">
                  <div class="col-sm-8">
                    <h2 class="text-uppercase bold blue1 bebas">nuestros socios</h2>
                    <p>Tenemos convenios con laboratorios de referencia reconocidos internacionalmente para apoyarnos con pruebas especiales para:</p>
                    <ul class="padding16 blue2 ul-plus">
                      <li class="padding8"><img src="ally-assets/perfil01.png" alt=""><span class="padding8">PERFILES GENÉTICOS</span></li>
                      <li class="padding8"><img src="ally-assets/perfil02.png" alt=""><span class="padding8">PERFILES DNA</span></li>
                      <li class="padding8"><img src="ally-assets/perfil03.png" alt=""><span class="padding8">PERFILES DEPORTIVOS</span></li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <img src="ally-assets/circle_thumb02.png" alt="" class="img-responsive">
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="rasgos">
                  <div class="col-sm-8">
                    <h2 class="text-uppercase bold blue1 bebas">rasgos</h2>
                    <ul class="padding16 blue2 ul-plus">
                      <li class="padding8"><span class="padding8">Laboratorio De Análisis Clinicos</span></li>
                      <li class="padding8"><span class="padding8">Analizadores Con Tecnología De Vanguardia</span></li>
                      <li class="padding8"><span class="padding8">Servicio Profesional De Excelencia Y Digno</span></li>
                      <li class="padding8"><span class="padding8">Servicio Con Tomas De Muestra A Domicilio </span></li>
                    </ul>
                    <h5 class="text-uppercase bold">DIFERENCIAS CON OTROS LABORATORIOS</h5>
                    <p>La recolección de las muestras sanguíneas se procesa con una tecnología limpia y segura, en tubos al vacío estériles  “Tubo vacutainer hemogard” y adecuados para cada análisis clínico  que requiera el médico.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="ally-assets/circle_thumb03.png" alt="" class="img-responsive">
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="calidad">
                  <div class="col-sm-8">
                    <h2 class="text-uppercase bold blue1 bebas">control de calidad <br>interno y externo</h2>
                    <p>Nuestro laboratorio cuenta con un control de calidad externo que asegura la calidad de los resultados emitidos por el programa PACAL Y BIORAD.</p>
                    <ul class="padding16 blue2 ul-plus">
                      <li class="padding8">
                        <span class="padding8">CONTROL DE CALIDAD INTERNO</span>
                        <p>Procedimiento que utiliza los resultados de un solo Laboratorio <br>Objetivo: Controlar la calidad</p>
                      </li>
                      <li class="padding8">
                        <span class="padding8">CONTROL DE CALIDAD EXTERNO</span>
                        <p>Procedimiento que utiliza los resultados de varios Laboratoriosque analizan la misma muestra <br>Objetivo: Controlar la calidad</p>
                      </li>
                    </ul>                      
                  </div>
                  <div class="col-sm-4">
                    <img src="ally-assets/circle_thumb04.png" alt="" class="img-responsive">
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="beneficios">
                  <div class="col-sm-8">
                    <h2 class="text-uppercase bold blue1 bebas">beneficios</h2>
                    <p>En Ally laboratorios queremos brindar a nuestros pacientes calidad, calidez, un trato digno, excelente servicio a los mejores precios del mercado.</p>
                    <p>A nuestros médicos aseguramos resultados confiables y nuestro apoyo para retroalimentar en los avances tecnológicos en el diagnóstico.</p>
                    <p>Nuestro permanente compromiso será estar a la vanguardia en la tecnología del diagnóstico oportuno y veraz a precios accesibles para nuestros clientes.</p>
                  </div>
                  <div class="col-sm-4">
                    <img src="ally-assets/circle_thumb05.png" alt="" class="img-responsive">
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="empresas">
                  <h2 class="text-uppercase bold blue1 bebas">Empresas</h2>
                  <p>En ALLY Laboratorios estamos comprometidos con el bienestar del trabajador, contamos con un servicio especializado para las empresas, bajo normas de calidad con la finalidad de fortalecer y mejorar el rendimiento de las mismas y evitar riesgos.</p>
                  <div class="col-sm">
                    <h3 class="blue2">Nuestros servicios:</h3>
                    <ul class="padding16 blue2 ul-plus">
                      <li class="padding8">Análisis Clínicos.</li>
                      <li class="padding8">Estudios de gabinete como RX, Ultrasonido, etc.</li>
                      <li class="padding8">Especialidades como Resonancia Magnética o Tomografía.</li>
                      <li class="padding8">Estudios de ingreso según el área del colaborador.</li>
                      <li class="padding8">Asesoría integral médica.</li>
                      <li class="padding8">Atención personalizada por un consultor.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="body-content container text-center">
              <h2 class="blue1 green-back padding8">ÁREAS</h2>
              <img src="ally-assets/areas/area1.png" alt="" class="padding8">
              <img src="ally-assets/areas/area2.png" alt="" class="padding8">
              <img src="ally-assets/areas/area3.png" alt="" class="padding8">
              <img src="ally-assets/areas/area4.png" alt="" class="padding8">
              <img src="ally-assets/areas/area5.png" alt="" class="padding8">
              <img src="ally-assets/areas/area6.png" alt="" class="padding8">
              <img src="ally-assets/areas/area7.png" alt="" class="padding8">
              <img src="ally-assets/areas/area8.png" alt="" class="padding8">
              <img src="ally-assets/areas/area9.png" alt="" class="padding8">
              <img src="ally-assets/areas/area10.png" alt="" class="padding8">
              <img src="ally-assets/areas/area11.png" alt="" class="padding8">
              <img src="ally-assets/areas/area12.png" alt="" class="padding8">
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="Estudios">
          <div class="body-section">
            <div class="body-content container" ng-app="myApp" ng-controller="StoreController as store">
              <div class="padding16 buscador_grupo">
                <span class="glyphicon glyphicon-search icon_buscador" aria-hidden="true"></span>
                <input type="text" ng-model="buscador" class="est_buscador" />
              </div>

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                <div class="panel panel-ally col-md-6 accordion2col" dir-paginate="product in store.product | filter:buscador | itemsPerPage:20">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" ng-href="#{{product.collapse}}" aria-expanded="true">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> {{product.perfil}}</h4>
                    </div>
                  </a>
                  <div ng-class="{{product.collapse}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <ul class="padding16h">
                        <li ng-repeat="examen in product.examenes">{{examen}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-12">
                <dir-pagination-controls
                   max-size="5"
                   direction-links="true"
                   boundary-links="true" >
                </dir-pagination-controls>
              </div>

            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="Promociones">
          <div class="body-section">
            <div class="body-content hidden-xs">
              <div id="carousel-example-generic_promo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic_promo" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic_promo" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic_promo" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic_promo" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="ally-assets/slider01.jpg" alt="...">
                    <div class="carousel-caption">
                      
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider02.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider03.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider04.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic_promo" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic_promo" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div class="body-content visible-xs">
              <div id="carousel-example-generic_mob" class="carousel slide" data-ride="carousel_mob">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic_mob" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic_mob" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic_mob" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="ally-assets/slider_mob01.jpg" alt="...">
                    <div class="carousel-caption">
                      
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider_mob02.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                  <div class="item">
                    <img src="ally-assets/slider_mob03.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic_mob" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic_mob" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div class="body-content container">
              <div class="row padding16v">
                <div class="col-sm-6 col-md-4">
                  <img src="ally-assets/promo01.png" alt="..." class="img-responsive center-block">
                </div>
                <div class="col-sm-6 col-md-4">
                  <img src="ally-assets/promo02.png" alt="..." class="img-responsive center-block">
                </div>
                <div class="col-sm-6 col-md-4">
                  <img src="ally-assets/promo03.png" alt="..." class="img-responsive center-block">
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Resultados">
            <div class="body-section">

              <div class="body-content container">

                <form class="form-style col-sm-6 col-sm-offset-3">
                  <h3 class="">INGRESA TUS DATOS</h3>
                  <p>AHORA LA BÚSQUEDA DE TUS RESULTADOS ES MÁS FÁCIL Y RÁPIDA. SÓLO LLENA LOS CAMPOS QUE SE TE INDICAN.</p>
                  <fieldset class="form-group">
                    <label for="InputName1">Numero de resultados</label>
                    <input type="text" class="form-control" id="folio">
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="InputEmail1">Email</label>
                    <input type="email" class="form-control">
                  </fieldset>                    
                  <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
                </form>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Tecnologia">
            <div class="body-section">
              <div class="body-content container">
                <h2 class="blue1 green-back padding8">SOFTWARE</h2>
                <h3 class="blue2">AI SOLUTIONS</h3>
                <p>La herramienta más poderosa de gestión para  la integración total de la información en el laboratorio clínico.</p>
                <div class="col-sm-4">
                  <h3 class="blue2">PRE-ANALÍTICA</h3>
                  <p class="blue1">
                    +Recepción y alta pacientes<br>
                    +Control de entrada de muestras de sedes o sucursales al laboratorio<br>
                    +Toma de muestra<br>
                    +Entrevista al paciente<br>
                    +Escaneo de ordenes originales del médico<br>
                    +Generación de código de barras<br>
                    +Selección de recipiente para toda de muestra<br>
                    +Foto del paciente
                  </p>
                </div>
                <div class="col-sm-4">
                  <h3 class="blue2">ANALÍTICA</h3>
                  <p class="blue1">
                    +Identificación de muestras y solicitudes<br>
                    +Distribución de las muestras a cada área de procesamiento<br>
                    +Realización de los análisis automatizados y manuales<br>
                    +Cargas de trabajo<br>
                    +Validación y revisión de resultados<br>
                    +Delta check<br>
                    +Migrobiología
                  </p>
                </div>
                <div class="col-sm-4">
                  <h3 class="blue2">POST-ANALÍTICA</h3>
                  <p class="blue1">
                    +Generación de reportes<br>
                    +Envío de resultados vía e-mail al paciente y/o médico<br>
                    +Consulta de resultados en la web<br>
                    +Estadísticas<br>
                    +Almacenamiento de muestras<br>
                    +Foto de los resultados analíticos
                  </p>
                </div> 
              </div>
              <div class="body-content container">
                <div class="col-sm-6">
                  <h2 class="blue1 green-back padding8">ANALIZADORES ESPECIALES</h2>
                  <h3 class="blue2">"TRI - STAT"</h3>
                  <p class="blue1">Equipo analizador para pruebas de Hemoglobina glicosilada.</p>
                  <p class="blue1">
                    +Obtención de 3 resultados en solo 10 minutos<br>
                    +Solo requiere de una pequeña gota de sangre para brindar resultados exactos<br>
                    +Puede procesar hasta tres pruebas a la vez<br>
                    +Certificación CAP, NGSP y IFCC<br>
                    +Mejor tecnología  (Afinidad de boronato) y equipo a nivel mundial
                  </p>
                </div>
                <div class="col-sm-6">
                  <img src="ally-assets/analizador.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="Contacto">
            <div class="body-section">
              <div class="body-content container">
                <div class="col-sm-6">
                  <form class="form-style">
                    <h3 class="blue2 bold">CONTÁCTANOS</h3>
                    <fieldset class="form-group">
                      <label for="InputName1">Nombre</label>
                      <input type="text" class="form-control">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="InputEmail1">Email</label>
                      <input type="email" class="form-control">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="InputTel1">Teléfono</label>
                      <input type="tel" class="form-control">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="exampleTextarea">Comentario</label>
                      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </fieldset>                    
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
                </div>
                <div class="col-sm-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.9382341200985!2d-99.54669058557228!3d19.285052050380475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cdf532b7c565ed%3A0xa3dd6e4850bbad5c!2sHda.+de+Pastej%C3%A9+18%2C+Santa+Elena%2C+52105+San+Mateo+Atenco%2C+M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1457245675812" width="100%" height="444" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

		</div>


		<div id="tfooter">
          <div class="footer-section padding8">
            <a class="pull-right" href="#"><img src="ally-assets/icon01.png" alt="..."></a>
            <a class="pull-right" href="https://www.facebook.com/allylaboratorios/" target="_blank"><img src="ally-assets/icon02.png" alt="..."></a>
            <a class="pull-right" href="tel:7224893057"><img src="ally-assets/icon03.png" alt="..."></a>
            <p class="pull-right">(722) 489 30 57 / (722) 489 31 30</p>
            <p class="pull-left"><a href="https://www.google.com/maps/place/Hda.+de+Pastej%C3%A9+18,+Santa+Elena,+52105+San+Mateo+Atenco,+M%C3%A9x.,+M%C3%A9xico/@19.285047,-99.544502,16z/data=!4m5!3m4!1s0x85cdf532b7c565ed:0xa3dd6e4850bbad5c!8m2!3d19.285047!4d-99.5445019?hl=es-ES" target="_blank"><img src="ally-assets/icon04.png" alt="..."></a> Hda. de Pastejé 18,  Col. Santa Elena,  Mpio. San Mateo Atenco,  C.P. 52105, Edo. de México,  Méx.</p>
          </div>
        </div>
	</div>


	<script src="js/jquery/jquery.min.js"></script>
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/build/angularJS.js"></script>
  <script src="js/build/script.js"></script>
</body>
</html> 
